# CDS503 Lab 2: KNN (Julia)

In [31]:
using DataFrames
using CSV
# using XLSX
using Plots
using Statistics
using LinearAlgebra
using StatsPlots

using Random

using MLLabelUtils  # label encoding
using MLDataUtils   # splitobs, getobs

In [107]:
df = CSV.read("..//data//titanic.csv", copycols=true);
show(first(df, 5), allcols=true)

5×8 DataFrame
│ Row │ Survived │ Pclass │ Name                                               │
│     │ Int64    │ Int64  │ String                                             │
├─────┼──────────┼────────┼────────────────────────────────────────────────────┤
│ 1   │ 0        │ 3      │ Mr. Owen Harris Braund                             │
│ 2   │ 1        │ 1      │ Mrs. John Bradley (Florence Briggs Thayer) Cumings │
│ 3   │ 1        │ 3      │ Miss. Laina Heikkinen                              │
│ 4   │ 1        │ 1      │ Mrs. Jacques Heath (Lily May Peel) Futrelle        │
│ 5   │ 0        │ 3      │ Mr. William Henry Allen                            │

│ Row │ Sex    │ Age     │ Siblings/Spouses Aboard │ Parents/Children Aboard │
│     │ String │ Float64 │ Int64                   │ Int64                   │
├─────┼────────┼─────────┼─────────────────────────┼─────────────────────────┤
│ 1   │ male   │ 22.0    │ 1                       │ 0                       │
│ 2   │ female │ 38.0    │ 1                       │ 0                       │
│ 3   │ female │ 26.0    │ 0                       │ 0                       │
│ 4   │ female │ 35.0    │ 1                       │ 0                       │
│ 5   │ male   │ 35.0    │ 0                       │ 0                       │

│ Row │ Fare    │
│     │ Float64 │
├─────┼─────────┤
│ 1   │ 7.25    │
│ 2   │ 71.2833 │
│ 3   │ 7.925   │
│ 4   │ 53.1    │
│ 5   │ 8.05    │

In [108]:
size(df)

(887, 8)

In [109]:
oldnames = names(df)
newnames = [
    :survived,
    :pclass,
    :name,
    :sex,
    :age,
    :siblingsspouses,
    :parentschildren,
    :fare
]

rename!(df, [ oldnames[i] => newnames[i] for i in 1:length(newnames) ])

show(first(df, 5), allcols=true)

5×8 DataFrame
│ Row │ survived │ pclass │ name                                               │
│     │ Int64    │ Int64  │ String                                             │
├─────┼──────────┼────────┼────────────────────────────────────────────────────┤
│ 1   │ 0        │ 3      │ Mr. Owen Harris Braund                             │
│ 2   │ 1        │ 1      │ Mrs. John Bradley (Florence Briggs Thayer) Cumings │
│ 3   │ 1        │ 3      │ Miss. Laina Heikkinen                              │
│ 4   │ 1        │ 1      │ Mrs. Jacques Heath (Lily May Peel) Futrelle        │
│ 5   │ 0        │ 3      │ Mr. William Henry Allen                            │

│ Row │ sex    │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ male   │ 22.0    │ 1               │ 0               │ 7.25    │
│ 2   │ female │ 38.0    │ 1               │ 0               │ 71.2833 │
│ 3   │ female │ 26.0    │ 0               │ 0               │ 7.925   │
│ 4   │ female │ 35.0    │ 1               │ 0               │ 53.1    │
│ 5   │ male   │ 35.0    │ 0               │ 0               │ 8.05    │

In [110]:
# Drop column: name
select!(df, Not(:name))
show(first(df, 5), allcols=true)

5×7 DataFrame
│ Row │ survived │ pclass │ sex    │ age     │ siblingsspouses │
│     │ Int64    │ Int64  │ String │ Float64 │ Int64           │
├─────┼──────────┼────────┼────────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ male   │ 22.0    │ 1               │
│ 2   │ 1        │ 1      │ female │ 38.0    │ 1               │
│ 3   │ 1        │ 3      │ female │ 26.0    │ 0               │
│ 4   │ 1        │ 1      │ female │ 35.0    │ 1               │
│ 5   │ 0        │ 3      │ male   │ 35.0    │ 0               │

│ Row │ parentschildren │ fare    │
│     │ Int64           │ Float64 │
├─────┼─────────────────┼─────────┤
│ 1   │ 0               │ 7.25    │
│ 2   │ 0               │ 71.2833 │
│ 3   │ 0               │ 7.925   │
│ 4   │ 0               │ 53.1    │
│ 5   │ 0               │ 8.05    │

In [111]:
# Print column names
names(df)

7-element Array{Symbol,1}:
 :survived
 :pclass
 :sex
 :age
 :siblingsspouses
 :parentschildren
 :fare

In [112]:
# Print data type of each column
for col in names(df)
    coltype = eltype(df[!, col])
    println("$col: $coltype")
end

survived: Int64
pclass: Int64
sex: String
age: Float64
siblingsspouses: Int64
parentschildren: Int64
fare: Float64

In [113]:
# Convert attribute: survived from Int64 to String
df[!, :survived] = string.(df[!, :survived])
show(first(df, 5), allcols=true)

5×7 DataFrame
│ Row │ survived │ pclass │ sex    │ age     │ siblingsspouses │
│     │ String   │ Int64  │ String │ Float64 │ Int64           │
├─────┼──────────┼────────┼────────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ male   │ 22.0    │ 1               │
│ 2   │ 1        │ 1      │ female │ 38.0    │ 1               │
│ 3   │ 1        │ 3      │ female │ 26.0    │ 0               │
│ 4   │ 1        │ 1      │ female │ 35.0    │ 1               │
│ 5   │ 0        │ 3      │ male   │ 35.0    │ 0               │

│ Row │ parentschildren │ fare    │
│     │ Int64           │ Float64 │
├─────┼─────────────────┼─────────┤
│ 1   │ 0               │ 7.25    │
│ 2   │ 0               │ 71.2833 │
│ 3   │ 0               │ 7.925   │
│ 4   │ 0               │ 53.1    │
│ 5   │ 0               │ 8.05    │

In [114]:
# Check the distribution of the dataset
print(by(df, :survived, nrow))

# Comment: This dataset is not balanced.

2×2 DataFrame
│ Row │ survived │ x1    │
│     │ String   │ Int64 │
├─────┼──────────┼───────┤
│ 1   │ 0        │ 545   │
│ 2   │ 1        │ 342   │

In [115]:
df[!, :pclass] = string.(df[!, :pclass])
show(first(df, 5), allcols=true)

5×7 DataFrame
│ Row │ survived │ pclass │ sex    │ age     │ siblingsspouses │
│     │ String   │ String │ String │ Float64 │ Int64           │
├─────┼──────────┼────────┼────────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ male   │ 22.0    │ 1               │
│ 2   │ 1        │ 1      │ female │ 38.0    │ 1               │
│ 3   │ 1        │ 3      │ female │ 26.0    │ 0               │
│ 4   │ 1        │ 1      │ female │ 35.0    │ 1               │
│ 5   │ 0        │ 3      │ male   │ 35.0    │ 0               │

│ Row │ parentschildren │ fare    │
│     │ Int64           │ Float64 │
├─────┼─────────────────┼─────────┤
│ 1   │ 0               │ 7.25    │
│ 2   │ 0               │ 71.2833 │
│ 3   │ 0               │ 7.925   │
│ 4   │ 0               │ 53.1    │
│ 5   │ 0               │ 8.05    │

In [116]:
# using Pkg

# Pkg.add("MLLabelUtils")

In [117]:
# using MLLabelUtils

In [118]:
sexlabel = label(df[!, :sex])

2-element Array{String,1}:
 "male"
 "female"

In [119]:
# Label Encode sex
# sexlabel = ["male", "female"]

# 1 => "male"; 0 => "female"
sexlabelenc = [1, 0]

df[!, :sex] = convertlabel(
    sexlabelenc, 
    df[!, :sex], 
    LabelEnc.NativeLabels(sexlabel))

show(first(df, 5))

5×7 DataFrame. Omitted printing of 2 columns
│ Row │ survived │ pclass │ sex   │ age     │ siblingsspouses │
│     │ String   │ String │ Int64 │ Float64 │ Int64           │
├─────┼──────────┼────────┼───────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ 1     │ 22.0    │ 1               │
│ 2   │ 1        │ 1      │ 0     │ 38.0    │ 1               │
│ 3   │ 1        │ 3      │ 0     │ 26.0    │ 0               │
│ 4   │ 1        │ 1      │ 0     │ 35.0    │ 1               │
│ 5   │ 0        │ 3      │ 1     │ 35.0    │ 0               │

In [120]:
# DEMO

labelmap(df[!, :sex])

Dict{Int64,Array{Int64,1}} with 2 entries:
  0 => [2, 3, 4, 9, 10, 11, 12, 15, 16, 19  …  863, 868, 871, 872, 876, 877, 87…
  1 => [1, 5, 6, 7, 8, 13, 14, 17, 18, 21  …  870, 873, 874, 875, 878, 880, 881…

## Train and Validate KNN Classifier

In [302]:
# Set target and feature attributes
target = df[!, :survived]
features = select(df, Not(:survived))

show(first(features, 5))

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ pclass │ sex   │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Int64 │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼───────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ 3      │ 1     │ 20.0    │ 1               │ 0               │ 15.5    │
│ 2   │ 3      │ 1     │ 34.0    │ 0               │ 0               │ 6.4958  │
│ 3   │ 3      │ 1     │ 24.0    │ 2               │ 0               │ 23.25   │
│ 4   │ 3      │ 0     │ 8.0     │ 3               │ 1               │ 21.075  │
│ 5   │ 3      │ 1     │ 16.0    │ 1               │ 3               │ 34.375  │

In [122]:
# using Pkg

# Pkg.add("MLDataUtils")

In [123]:
# using MLDataUtils

In [124]:
# splitobs(df)

show(first(df, 7), allcols=true)

7×7 DataFrame
│ Row │ survived │ pclass │ sex   │ age     │ siblingsspouses │
│     │ String   │ String │ Int64 │ Float64 │ Int64           │
├─────┼──────────┼────────┼───────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ 1     │ 22.0    │ 1               │
│ 2   │ 1        │ 1      │ 0     │ 38.0    │ 1               │
│ 3   │ 1        │ 3      │ 0     │ 26.0    │ 0               │
│ 4   │ 1        │ 1      │ 0     │ 35.0    │ 1               │
│ 5   │ 0        │ 3      │ 1     │ 35.0    │ 0               │
│ 6   │ 0        │ 3      │ 1     │ 27.0    │ 0               │
│ 7   │ 0        │ 1      │ 1     │ 54.0    │ 0               │

│ Row │ parentschildren │ fare    │
│     │ Int64           │ Float64 │
├─────┼─────────────────┼─────────┤
│ 1   │ 0               │ 7.25    │
│ 2   │ 0               │ 71.2833 │
│ 3   │ 0               │ 7.925   │
│ 4   │ 0               │ 53.1    │
│ 5   │ 0               │ 8.05    │
│ 6   │ 0               │ 8.4583  │
│ 7   │ 0               │ 51.8625 │

In [291]:
#now split the data into training sets and validation sets
Random.seed!(123)
(features, target) = shuffleobs((features, target))
(X_train1, y_train1), (X_test1, y_test1) = splitobs((features, target); at = 0.8)

((710×7 SubDataFrame. Omitted printing of 1 columns
│ Row │ pclass │ sex   │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Int64 │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼───────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ 2      │ 1     │ 50.0    │ 0               │ 0               │ 13.0    │
│ 2   │ 3      │ 1     │ 49.0    │ 0               │ 0               │ 7.775   │
│ 3   │ 3      │ 0     │ 14.0    │ 8               │ 2               │ 69.55   │
│ 4   │ 1      │ 1     │ 34.0    │ 0               │ 0               │ 26.55   │
│ 5   │ 3      │ 1     │ 74.0    │ 0               │ 0               │ 7.775   │
│ 6   │ 2      │ 0     │ 30.0    │ 3               │ 0               │ 21.0    │
│ 7   │ 1      │ 1     │ 47.0    │ 0               │ 0               │ 30.5    │
│ 8   │ 2      │ 0     │ 24.0    │ 0               │ 2               │ 14.5    │
│ 9   │ 3      │ 1     │ 18.0    │ 8               │ 2               │ 69.55   │
│ 10  │ 3      │ 1     │ 29.0    │ 0               │ 0               │ 7.775   │
⋮
│ 700 │ 3      │ 0     │ 28.0    │ 1               │ 1               │ 14.4    │
│ 701 │ 3      │ 0     │ 48.0    │ 1               │ 3               │ 34.375  │
│ 702 │ 3      │ 1     │ 11.0    │ 5               │ 2               │ 46.9    │
│ 703 │ 2      │ 0     │ 34.0    │ 1               │ 1               │ 32.5    │
│ 704 │ 3      │ 1     │ 22.0    │ 0               │ 0               │ 8.05    │
│ 705 │ 2      │ 1     │ 44.0    │ 1               │ 0               │ 26.0    │
│ 706 │ 1      │ 1     │ 35.0    │ 0               │ 0               │ 26.2875 │
│ 707 │ 1      │ 1     │ 4.0     │ 0               │ 2               │ 81.8583 │
│ 708 │ 3      │ 0     │ 18.0    │ 1               │ 0               │ 14.4583 │
│ 709 │ 3      │ 1     │ 19.0    │ 0               │ 0               │ 7.8958  │
│ 710 │ 3      │ 0     │ 24.0    │ 1               │ 0               │ 15.85   │, ["1", "0", "1", "1", "1", "1", "0", "1", "0", "0"  …  "0", "0", "1", "0", "1", "0", "0", "0", "1", "1"]), (177×7 SubDataFrame. Omitted printing of 1 columns
│ Row │ pclass │ sex   │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Int64 │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼───────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ 3      │ 1     │ 16.0    │ 0               │ 0               │ 8.05    │
│ 2   │ 3      │ 0     │ 39.0    │ 0               │ 5               │ 29.125  │
│ 3   │ 3      │ 0     │ 17.0    │ 0               │ 0               │ 14.4583 │
│ 4   │ 2      │ 1     │ 34.0    │ 1               │ 0               │ 26.0    │
│ 5   │ 3      │ 1     │ 24.0    │ 0               │ 0               │ 7.7958  │
│ 6   │ 1      │ 1     │ 23.0    │ 0               │ 1               │ 63.3583 │
│ 7   │ 1      │ 1     │ 45.0    │ 1               │ 0               │ 83.475  │
│ 8   │ 3      │ 1     │ 20.0    │ 0               │ 0               │ 7.2292  │
│ 9   │ 1      │ 0     │ 36.0    │ 0               │ 2               │ 71.0    │
│ 10  │ 3      │ 1     │ 2.0     │ 3               │ 1               │ 21.075  │
⋮
│ 167 │ 1      │ 1     │ 24.0    │ 0               │ 0               │ 79.2    │
│ 168 │ 3      │ 1     │ 18.0    │ 0               │ 0               │ 8.05    │
│ 169 │ 3      │ 0     │ 2.0     │ 0               │ 1               │ 10.4625 │
│ 170 │ 1      │ 0     │ 41.0    │ 1               │ 0               │ 51.8625 │
│ 171 │ 3      │ 1     │ 37.0    │ 2               │ 0               │ 7.925   │
│ 172 │ 3      │ 1     │ 30.0    │ 0               │ 0               │ 8.05    │
│ 173 │ 3      │ 1     │ 23.0    │ 0               │ 0               │ 7.8958  │
│ 174 │ 3      │ 1     │ 23.0    │ 0               │ 0               │ 9.225   │
│ 175 │ 3      │ 1     │ 19.0    │ 0               │ 0               │ 7.775   │
│ 176 │ 1      │ 1     │ 37.0    │ 0               │ 0               │ 26.55   │
│ 177 │ 3      │ 1     │ 32.0    │ 0               │ 0               │ 56.4958 │, ["0", "0", "1", "0", "0", "0", "0", "1", "0", "1"  …  "0", "0", "0", "0", "0", "0", "1", "0", "1", "0"]))

In [21]:
# getobs(df, 30)

DataFrameRow. Omitted printing of 2 columns
│ Row │ survived │ pclass │ sex   │ age     │ siblingsspouses │
│     │ String   │ String │ Int64 │ Float64 │ Int64           │
├─────┼──────────┼────────┼───────┼─────────┼─────────────────┤
│ 30  │ 0        │ 3      │ 1     │ 23.0    │ 0               │

In [82]:
Random.seed!(123)
shuffleobs([1,2,3,4])

4-element view(::Array{Int64,1}, [2, 1, 4, 3]) with eltype Int64:
 2
 1
 4
 3

In [74]:
Random.seed!(123);
rand(1,1)

1×1 Array{Float64,2}:
 0.7684476751965699

10-element Array{Float64,1}:
 0.0660317930734633
 0.5638056701194081
 0.9929050687382326
 0.8466746056135119
 0.5929375103137009
 0.18322405440334322
 0.4905019471229666
 0.4373169330529676
 0.7124644258276258
 0.02953341631563422

In [300]:
function shuffledf(df, seed, testsize)
    Random.seed!(seed)
    dfrandom = DataFrame()
    
    if typeof(df) <: DataFrame
        dfrandom = copy(df)        
    elseif typeof(df) <: Array
        dfrandom = DataFrame(value = df)
    end
    
    dfrandom[!, :random] = Random.rand(size(df)[1])

    dftrain = dfrandom[dfrandom[!, :random] .< testsize, :]
    dftest = dfrandom[dfrandom[!, :random] .>= testsize, :]

    dftrain = select!(dftrain, Not(:random))
    dftest = select!(dftest, Not(:random))

    return dftrain, dftest
end

(dftrain, dftest) = shuffledf(df, 0, 0.8)

# dftrain

(707×7 DataFrame. Omitted printing of 2 columns
│ Row │ survived │ pclass │ sex   │ age     │ siblingsspouses │
│     │ String   │ String │ Int64 │ Float64 │ Int64           │
├─────┼──────────┼────────┼───────┼─────────┼─────────────────┤
│ 1   │ 1        │ 3      │ 1     │ 24.0    │ 2               │
│ 2   │ 0        │ 3      │ 0     │ 8.0     │ 3               │
│ 3   │ 0        │ 3      │ 1     │ 16.0    │ 1               │
│ 4   │ 1        │ 2      │ 1     │ 32.0    │ 1               │
│ 5   │ 1        │ 1      │ 1     │ 27.0    │ 0               │
│ 6   │ 1        │ 3      │ 1     │ 26.0    │ 0               │
│ 7   │ 1        │ 2      │ 0     │ 33.0    │ 1               │
│ 8   │ 0        │ 1      │ 1     │ 45.5    │ 0               │
│ 9   │ 1        │ 3      │ 0     │ 22.0    │ 0               │
│ 10  │ 0        │ 3      │ 0     │ 14.0    │ 0               │
⋮
│ 697 │ 0        │ 3      │ 0     │ 28.0    │ 0               │
│ 698 │ 0        │ 3      │ 0     │ 18.0    │ 0               │
│ 699 │ 0        │ 3      │ 1     │ 23.0    │ 0               │
│ 700 │ 0        │ 3      │ 1     │ 33.0    │ 0               │
│ 701 │ 1        │ 2      │ 1     │ 1.0     │ 0               │
│ 702 │ 0        │ 1      │ 1     │ 46.0    │ 1               │
│ 703 │ 1        │ 1      │ 1     │ 35.0    │ 0               │
│ 704 │ 1        │ 2      │ 0     │ 25.0    │ 0               │
│ 705 │ 0        │ 3      │ 0     │ 29.0    │ 0               │
│ 706 │ 0        │ 3      │ 0     │ 32.0    │ 0               │
│ 707 │ 1        │ 1      │ 0     │ 18.0    │ 1               │, 180×7 DataFrame. Omitted printing of 2 columns
│ Row │ survived │ pclass │ sex   │ age     │ siblingsspouses │
│     │ String   │ String │ Int64 │ Float64 │ Int64           │
├─────┼──────────┼────────┼───────┼─────────┼─────────────────┤
│ 1   │ 0        │ 3      │ 1     │ 20.0    │ 1               │
│ 2   │ 0        │ 3      │ 1     │ 34.0    │ 0               │
│ 3   │ 0        │ 1      │ 1     │ 47.0    │ 0               │
│ 4   │ 0        │ 3      │ 1     │ 30.0    │ 0               │
│ 5   │ 0        │ 1      │ 1     │ 56.0    │ 0               │
│ 6   │ 1        │ 3      │ 1     │ 29.0    │ 0               │
│ 7   │ 0        │ 3      │ 1     │ 39.0    │ 0               │
│ 8   │ 0        │ 3      │ 0     │ 12.0    │ 3               │
│ 9   │ 0        │ 1      │ 1     │ 60.0    │ 0               │
│ 10  │ 0        │ 3      │ 1     │ 26.0    │ 0               │
⋮
│ 170 │ 1        │ 1      │ 0     │ 21.0    │ 2               │
│ 171 │ 1        │ 2      │ 0     │ 22.0    │ 1               │
│ 172 │ 1        │ 1      │ 1     │ 40.0    │ 0               │
│ 173 │ 0        │ 2      │ 1     │ 30.0    │ 1               │
│ 174 │ 1        │ 1      │ 0     │ 18.0    │ 2               │
│ 175 │ 1        │ 1      │ 1     │ 37.0    │ 0               │
│ 176 │ 0        │ 2      │ 1     │ 23.0    │ 0               │
│ 177 │ 0        │ 2      │ 1     │ 42.0    │ 1               │
│ 178 │ 1        │ 1      │ 0     │ 42.0    │ 0               │
│ 179 │ 0        │ 2      │ 1     │ 29.0    │ 0               │
│ 180 │ 0        │ 2      │ 1     │ 36.0    │ 1               │)

In [261]:
# dfrandom = DataFrame(value = target)

# typeof(dfrandom)

DataFrame

In [304]:
function splitfeaturestarget(features, target, seed, testsize)
    (featurestrain, featurestest) = shuffledf(features, seed, testsize)
    (targettrain, targettest) = shuffledf(target, seed, testsize)
    
    targettrain = Array(targettrain)
    targettest = Array(targettest)
    
    return featurestrain, targettrain, featurestest, targettest
end

splitfeaturestarget(features, target, 0, 0.8)

(707×6 DataFrame
│ Row │ pclass │ sex   │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Int64 │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼───────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ 3      │ 1     │ 24.0    │ 2               │ 0               │ 23.25   │
│ 2   │ 3      │ 0     │ 8.0     │ 3               │ 1               │ 21.075  │
│ 3   │ 3      │ 1     │ 16.0    │ 1               │ 3               │ 34.375  │
│ 4   │ 2      │ 1     │ 32.0    │ 1               │ 0               │ 26.0    │
│ 5   │ 1      │ 1     │ 27.0    │ 0               │ 0               │ 30.5    │
│ 6   │ 3      │ 1     │ 26.0    │ 0               │ 0               │ 18.7875 │
│ 7   │ 2      │ 0     │ 33.0    │ 1               │ 2               │ 27.75   │
│ 8   │ 1      │ 1     │ 45.5    │ 0               │ 0               │ 28.5    │
│ 9   │ 3      │ 0     │ 22.0    │ 0               │ 0               │ 7.75    │
│ 10  │ 3      │ 0     │ 14.0    │ 0               │ 0               │ 7.8542  │
⋮
│ 697 │ 3      │ 0     │ 28.0    │ 0               │ 0               │ 7.8958  │
│ 698 │ 3      │ 0     │ 18.0    │ 0               │ 0               │ 6.75    │
│ 699 │ 3      │ 1     │ 23.0    │ 0               │ 0               │ 7.8958  │
│ 700 │ 3      │ 1     │ 33.0    │ 0               │ 0               │ 9.5     │
│ 701 │ 2      │ 1     │ 1.0     │ 0               │ 2               │ 37.0042 │
│ 702 │ 1      │ 1     │ 46.0    │ 1               │ 0               │ 61.175  │
│ 703 │ 1      │ 1     │ 35.0    │ 0               │ 0               │ 26.2875 │
│ 704 │ 2      │ 0     │ 25.0    │ 0               │ 1               │ 26.0    │
│ 705 │ 3      │ 0     │ 29.0    │ 0               │ 4               │ 21.075  │
│ 706 │ 3      │ 0     │ 32.0    │ 0               │ 0               │ 8.05    │
│ 707 │ 1      │ 0     │ 18.0    │ 1               │ 0               │ 227.525 │, ["1"; "0"; … ; "0"; "1"], 180×6 DataFrame
│ Row │ pclass │ sex   │ age     │ siblingsspouses │ parentschildren │ fare    │
│     │ String │ Int64 │ Float64 │ Int64           │ Int64           │ Float64 │
├─────┼────────┼───────┼─────────┼─────────────────┼─────────────────┼─────────┤
│ 1   │ 3      │ 1     │ 20.0    │ 1               │ 0               │ 15.5    │
│ 2   │ 3      │ 1     │ 34.0    │ 0               │ 0               │ 6.4958  │
│ 3   │ 1      │ 1     │ 47.0    │ 0               │ 0               │ 25.5875 │
│ 4   │ 3      │ 1     │ 30.0    │ 0               │ 0               │ 8.05    │
│ 5   │ 1      │ 1     │ 56.0    │ 0               │ 0               │ 26.55   │
│ 6   │ 3      │ 1     │ 29.0    │ 0               │ 0               │ 9.5     │
│ 7   │ 3      │ 1     │ 39.0    │ 0               │ 0               │ 7.925   │
│ 8   │ 3      │ 0     │ 12.0    │ 3               │ 1               │ 25.4667 │
│ 9   │ 1      │ 1     │ 60.0    │ 0               │ 0               │ 25.925  │
│ 10  │ 3      │ 1     │ 26.0    │ 0               │ 0               │ 7.8958  │
⋮
│ 170 │ 1      │ 0     │ 21.0    │ 2               │ 2               │ 262.375 │
│ 171 │ 2      │ 0     │ 22.0    │ 1               │ 1               │ 29.0    │
│ 172 │ 1      │ 1     │ 40.0    │ 0               │ 0               │ 31.0    │
│ 173 │ 2      │ 1     │ 30.0    │ 1               │ 0               │ 24.0    │
│ 174 │ 1      │ 0     │ 18.0    │ 2               │ 2               │ 262.375 │
│ 175 │ 1      │ 1     │ 37.0    │ 0               │ 0               │ 26.55   │
│ 176 │ 2      │ 1     │ 23.0    │ 0               │ 0               │ 13.0    │
│ 177 │ 2      │ 1     │ 42.0    │ 1               │ 0               │ 27.0    │
│ 178 │ 1      │ 0     │ 42.0    │ 0               │ 0               │ 110.883 │
│ 179 │ 2      │ 1     │ 29.0    │ 0               │ 0               │ 10.5    │
│ 180 │ 2      │ 1     │ 36.0    │ 1               │ 2               │ 27.75   │, ["0"; "0"; … ; "0"; "0"])

In [290]:
# features, target

In [253]:
typeof(target) <: Array

true

In [305]:
using Pkg

Pkg.add("ScikitLearn")

   Updating registry at `C:\Users\Darren Lee\.julia\registries\General`

   Updating git-repo `https://github.com/JuliaRegistries/General.git`

[1mFetching: [========================================>]  100.0 %

  Resolving package versions...
  Installed ScikitLearnBase ─ v0.5.0
  Installed ScikitLearn ───── v0.6.2
   Updating `C:\Users\Darren Lee\.julia\environments\v1.4\Project.toml`
  [3646fa90] + ScikitLearn v0.6.2
   Updating `C:\Users\Darren Lee\.julia\environments\v1.4\Manifest.toml`
  [3646fa90] + ScikitLearn v0.6.2
  [6e75b9c4] + ScikitLearnBase v0.5.0

More on Julia scikitlearn

https://github.com/cstjean/ScikitLearn.jl/blob/master/examples/Classifier_Comparison_Julia.ipynb